@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');

    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.ttf');

    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Light.ttf');

    font-weight: 300;
}

header{

    text-align: center;
}

nav{

    display: flex;
    justify-content: center;
    gap: 20px;
}


body{

    padding: 0;
    margin: 0;

    width: 100%;
    min-height: 100vh;

    background-color: white;
    color: black;

    font-family: 'Poppins', monospace;

    position: relative;
}


main{


    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

footer{

    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.main-hour{

    padding: 0;
    margin: 0;
    margin-block: 0em;
    line-height: 1;
    font-size: 72px;
}


input[type="radio"]{

    appearance: none;
    box-sizing: border-box;

    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 1.15em;
    height: 1.15em;
    border: black solid 2px;

    border-radius: 50%;

    display: inline-flex;

    justify-content: center;
    align-items: center;
}


input[type="radio"]::before{

    display: block;
    box-sizing: border-box;

    content: "";

    transform: scale(0);

    width: .65em;
    height: .65em;

    border-radius: 50%;

    background-color: rgb(206, 58, 58);

    transition: transform 200ms ease-in-out;

    z-index: 1;
}

input[type="radio"]:checked:before{

    transform: scale(1);
}